body {
    
    font-family: Helvetica, serif;
    padding: 0;
    
}

.button {
    
    margin-left: 20px;
    
    button {
        
        padding: 10px;
        border: 1px solid rebeccapurple;
        
    }
    
}
